### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Maven ###
.mvn/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Env ###

**/.env**