### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Maven ###
.mvn/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Env ###
**/.env**
**/target/

### GitHub Actions ###
.github/workflows/*.log
.github/workflows/.runner/
/docs/videos/
/testing/helper/testRuns_16Nov2025/
/testing/results/
